@model CAMS.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationInLab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationInLab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lab.LabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab.LabName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerId }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
