@model object

@{
    ViewBag.Title = "Delete";
    ViewBag.Building = (string)Model;
}

<h2>מחיקה</h2>

<div>
    <h3>האם אתה בטוח רוצה למחוק בניין זה?</h3>
    <h6 class="ui-state-error"> שים לב- מחיקת הבניין תגרום למחיקת כל כיתות המחשוב בבניין זה, כולל היסטוריית השימוש בהן, כלומר לא ניתן יהיה להפיק דוחות אודות כיתות מחשוב אלה.</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("שם הבניין")
        </dt>
        <dd>
            @ViewBag.Building
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="building" value="@ViewBag.Building"
        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index")
        </div>
    }
</div>

