<!DOCTYPE html>
<html dir="rtl" id="html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Computer Activity and Monitoring System (CAMS)</title>
    <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("PreloadScripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body dir="rtl" style="font-family:Alef;text-align:right">
    <div class="navbar navbar-fixed-top mynavbar" style="box-shadow: 0 8px 6px -6px #999; padding:0">
        <div class="container">
            <img src="~/Images/logoHome.png" alt="אוניברסיטת בן גוריון">
            @*TBD -show only when logged in (else add padding)*@
            <div class="nav navbar-nav navbar-right menubar navbar-collapse">
                <a href="~/Reports/Create">דוחות</a>
                <a href="~/Labs/Index">כיתות מחשוב</a>
                <a href="~/Notifications/Index">התראות</a>
                <a href="~/Users/Index">הרשאות</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year כל הזכויות שמורות המחלקה להנדסת מערכות תוכנה ומידע - אוניברסיטת בן-גוריון בנגב </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
