<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Computer Activity and Monitoring System (CAMS)</title>
    <link href='https://fonts.googleapis.com/css?family=Alef' rel='stylesheet'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body dir="rtl">
    <div class="navbar navbar-fixed-top mynavbar">
        <div class="container">
            <img src="~/Images/logoHome.png" alt="אוניברסיטת בן גוריון">
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year כל הזכויות שמורות המחלקה להנדסת מערכות תוכנה ומידע - אוניברסיטת בן-גוריון בנגב </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
