@model CAMS.Models.UserDepartment

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקת הרשאה</h2>

<h3>אתה בטוח שאתה רוצה למחוק את ההרשאה הזאת?</h3>
<div>
    <h4>הרשאה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("דוא''ל", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.Label("מחלקה", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.Label("סוג הרשאה", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @switch (Model.AccessType)
                    {
                        case CAMS.Models.AccessType.Full:
                            @Html.Raw("מלאה")
                            break;
                        case CAMS.Models.AccessType.Limited:
                            @Html.Raw("חלקית")
                            break;
                        case CAMS.Models.AccessType.View:
                            @Html.Raw("צפיה")
                            break;
                    }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזרה להרשאות", "Index")
        </div>
    }
</div>
