@model CAMS.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("דוא''ל")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>מחלקות </dt>
            @foreach (var item in Model.UserDepartments)
        {
        <dd>
            @Html.Display(item.Department.DepartmentName)
        </dd>
        <dd>
            @Html.Display(item.AccessType)
        </dd>
         }          
        </dl>
</div>
<p>
    @Html.ActionLink("ערוך משתמש", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
