@model  CAMS.Models.UserDepartment

@{
    ViewBag.Title = "Edit";
}

<h2> ערוך הרשאה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("דוא''ל", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(x=>x.User.Email)
                @Html.HiddenFor(x=>x.UserId)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("מחלקה", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(x => x.Department.DepartmentName)
                @Html.HiddenFor(x => x.DepartmentId)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("סוג הרשאה", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="AccessType">
                    <option id="Full" value="0">הרשאה מלאה</option>
                    <option id="Limited" value="1"> הרשאה חלקית (הפקת דוחות ועריכת כיתות)</option>
                    <option id="View" value="2">הרשאת צפייה (הפקת דוחות בלבד)</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("חזרה להרשאות", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
 $(document).ready(function () {
     document.getElementById('@Model.AccessType').setAttribute('selected','selected')
 });
</script>