@model IEnumerable<CAMS.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("משתמש חדש", "~/Views/Users/Create")
</p>
<table class="table">
    <tr>
        <th>שם משתמש</th>
        <th>אימייל</th>
        <th>מחלקה</th>
        <th>סוג הרשאה</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email) @*TBD - Group by Email*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDepartments.First().Department.DepartmentName) @*TBD - for all departments*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDepartments.First().AccessType)
        </td>
        <td>
            @Html.ActionLink("ערוך", "~/Views/Users/Edit", new { id=item.UserId }) |
            @Html.ActionLink("מחק", "~/Views/Users/Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
