@model CAMS.Models.AccessViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.Last = null;
}

<h2>הרשאות</h2>

<p>
    @Html.ActionLink("הוסף הרשאה חדשה", "~/Views/Users/Create")
</p>
<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>@Html.ActionLink("דוא''ל", "Index", new { byDepartment = false })</td>
        <td>@Html.ActionLink("מחלקה", "Index", new { byDepartment = true })</td>

        <th>סוג הרשאה</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Accesses)
    {

        if (ViewBag.Last == null || ( ViewBag.byDepartment == false && ViewBag.Last != item.User.UserId) || (ViewBag.byDepartment == true && ViewBag.Last != item.Department.DepartmentId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)@*TBD - Group by Email*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName) @*TBD - for all departments*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessType)
                </td>
                <td>
                    @Html.ActionLink("ערוך", "~/Views/Users/Edit", new { id = item.User.UserId }) |
                    @Html.ActionLink("מחק", "~/Views/Users/Delete", new { id = item.User.UserId })
                </td>
            </tr>
            if (ViewBag.byDepartment == false)
            {
                ViewBag.Last = item.User.UserId;
            }
            else
            {
                ViewBag.Last = item.Department.DepartmentId;
            }

        }
        else
        {
            <tr>
                @if (ViewBag.byDepartment == false)
                {
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                }
                @if (ViewBag.byDepartment == true)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td></td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.AccessType)
                </td>
                <td>
                    @Html.ActionLink("ערוך", "~/Views/Users/Edit", new { id = item.User.UserId }) |
                    @Html.ActionLink("מחק", "~/Views/Users/Delete", new { id = item.User.UserId })
                </td>
            </tr>
        }
    }


</table>
