@model CAMS.Models.AccessViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("משתמש חדש", "~/Views/Users/Create")
</p>
<table class="table">
    <tr>
        <th>שם משתמש</th>
        <th>אימייל</th>
        <th>מחלקה</th>
        <th>סוג הרשאה</th>
        <th></th>
    </tr>

@foreach (var item in Model.Accesses) {
    <tr>
        <td>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email) @*TBD - Group by Email*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName) @*TBD - for all departments*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessType)
        </td>
        <td>
            @Html.ActionLink("ערוך", "~/Views/Users/Edit", new { id=item.User.UserId }) |
            @Html.ActionLink("מחק", "~/Views/Users/Delete", new { id=item.User.UserId })
        </td>
    </tr>
}

</table>
