@model CAMS.Models.AccessViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.Last = null;
}

<h2>הרשאות</h2>

<p>
    @Html.ActionLink("הוסף הרשאה חדשה", "Create")
</p>
<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>@Html.ActionLink("דוא''ל", "Index", new { byDepartment = false })</td>
        <td>@Html.ActionLink("מחלקה", "Index", new { byDepartment = true })</td>
        <th>סוג הרשאה</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Accesses)
    {

        if (ViewBag.Last == null || (ViewBag.byDepartment == false && ViewBag.Last != item.User.UserId) || (ViewBag.byDepartment == true && ViewBag.Last != item.Department.DepartmentId))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName) 
                </td>
                <td>
                    @switch (item.AccessType)
                    {
                        case CAMS.Models.AccessType.Full:
                            @Html.Raw("מלאה")
                            break;
                        case CAMS.Models.AccessType.Limited:
                            @Html.Raw("חלקית")
                            break;
                        case CAMS.Models.AccessType.View:
                            @Html.Raw("צפייה")
                            break;
                    }
                        </td>
                        <td>
                            @Html.ActionLink("ערוך", "/../Users/Edit", new { userId = item.User.UserId, depId = item.Department.DepartmentId }) |
                            @Html.ActionLink("מחק", "/../Users/Delete", new { userId = item.User.UserId, depId = item.Department.DepartmentId })
                        </td>


                    </tr>
            if (ViewBag.byDepartment == false)
            {
                ViewBag.Last = item.User.UserId;
            }
            else
            {
                ViewBag.Last = item.Department.DepartmentId;
            }

        }
        else
        {
            <tr>
                @if (ViewBag.byDepartment == false)
                {
                <td>
                    @Html.HiddenFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                }
                            @if (ViewBag.byDepartment == true)
                            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.Department.DepartmentName)
                </td>
                            }
                <td>
                    @switch (item.AccessType)
                    {
                        case CAMS.Models.AccessType.Full:
                            @Html.Raw("מלאה")
                            break;
                        case CAMS.Models.AccessType.Limited:
                            @Html.Raw("חלקית")
                            break;
                        case CAMS.Models.AccessType.View:
                            @Html.Raw("צפיה")
                            break;
                    }
                </td>
                <td>
                    @Html.ActionLink("ערוך", "/../Users/Edit", new { userId = item.User.UserId, depId = item.Department.DepartmentId }) |
                    @Html.ActionLink("מחק", "/../Users/Delete", new { userId = item.User.UserId, depId = item.Department.DepartmentId })
                </td>
            </tr>
        }
    }


</table>
