@model CAMS.Models.NotificationViewModel
@{
    ViewBag.Title = "Index";
}

<h2>התראות</h2>

<p>
    @Html.ActionLink("ערוך הגדרות התראות", "Edit")
</p>
<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>@Html.ActionLink("מחלקה", "Index", new { sortOrder = ViewBag.DepSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("בניין", "Index", new { sortOrder = ViewBag.BuildingSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>כיתה</td>
        <td>עמדה</td>
        <td>פירוט התראה</td>
        <th></th>
    </tr>
    @foreach (var item in Model.Notifications) //TBD - if user is logged it soppose to return only the labs that he can view + each lab and the access type
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Computer.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationType)
            </td>
            <td>
                @Html.ActionLink("צפה בכיתה", "~/Views/Labs/Details", new { id = item.LabId })
            </td>
        </tr>
    }
</table>
