@model CAMS.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקה</h2>

<div>
    <h3>האם אתה בטוח רוצה למחוק מחלקה זו?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("שם המחלקה")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index")
        </div>
    }
</div>
