@model CAMS.Models.Lab

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקה</h2>

<div>
    <h3>האם אתה בטוח שאתה רוצה למחוק כיתת מחשוב זו?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("בניין")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>

        <dt>
            @Html.DisplayName("כיתה")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayName("שם מחלקה")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index")
        </div>
    }
</div>
