@model CAMS.Models.LabModel


@{
    ViewBag.Title = "Details";
}

<h2>תפוסה נוכחית</h2>

<div>
    <div>
        <h6>בניין: @Html.DisplayFor(model => model.Lab.Building)</h6>
        <h6>כיתה: @Html.DisplayFor(model => model.Lab.RoomNumber)</h6>
    </div>

    <hr />
    <div class="labs">
        @foreach (var item in Model.Lab.Computers)
        {
        <a> @item.ComputerName:@Model.GetComputerState(item).ToString() </a>
        }

    </div>
</div>
<p>
    @Html.ActionLink("ערוך", "Edit", new { id = Model.Lab.LabId }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
