@model CAMS.Models.LabDetailsViewModel
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Details";
}
<meta http-equiv="refresh" content="60">

<h2>תפוסה נוכחית</h2>
<div>
    <h6>בניין: @Html.DisplayFor(model => model.Lab.Building)</h6>
    <h6>כיתה: @Html.DisplayFor(model => model.Lab.RoomNumber)</h6>
    <div class="row">
        <h6>
            שיעורים מתוכננים להיום:
            @if (Model.Lab.TodaysClasses == null)
            {
                @Html.Raw("אין")
            }
            else
            {
                List<string> TodaysClasses = Model.Lab.TodaysClasses.Split(',').ToList();
                foreach (var item in TodaysClasses)
                {
                    <input class="todaysclasses" type="text" value="@item" readonly="readonly">
                }

            }
        </h6>
    </div>
    <hr />
    <div class="row">
        <div class="labs col-sm-10">
            @if (Model.IsLabOccupied())
            {
                foreach (var item in Model.Lab.Computers)
                {
                    string source = "red.png";
                    string top = item.LocationInLab.Split(',')[0];
                    string left = item.LocationInLab.Split(',')[1];
                    <img src="~/Images/@source" width="@Model.Lab.ComputerSize" title="@item.ComputerName" style="position:absolute;top:@top;left:@left" />
                }
            }
            else
            {
                foreach (var item in Model.Lab.Computers)
                {
                    string source = "";
                    switch (@Model.GetComputerState(item))
                    {

                        case CAMS.Models.ActivityType.On:
                            source = "green.png";
                            break;
                        case CAMS.Models.ActivityType.Off:
                            source = "black.png";
                            break;
                        case CAMS.Models.ActivityType.Class:
                            source = "red.png";
                            break;
                        case CAMS.Models.ActivityType.User:
                            source = "red.png";
                            break;
                    }
                    string top = item.LocationInLab.Split(',')[0];
                    string left = item.LocationInLab.Split(',')[1];
                    string[] numbers = Regex.Split(item.ComputerName, @"\D+"); <!-- TBD - check if working -->
                    string computerNumber = "";
                    if (numbers != null && numbers.Length > 0)
                    {
                        computerNumber = numbers[numbers.Length - 1];
                    }
                    <figure style="position:absolute;top:@top;left:@left">
                        <img src="~/Images/@source"  alt="@item.ComputerName" style="height:auto" width="@Model.Lab.ComputerSize" title="@item.ComputerName">
                        <figcaption style="text-align: center">@computerNumber</figcaption>
                    </figure>
                }
            }
        </div>
        <div class="col-sm-2 key">
            <h3>מקרא</h3>
            <hr />
            <img src="~/Images/green.png" width="@Model.Lab.ComputerSize" title="המחשב פנוי" />
            <br />
            <text>מחשב פנוי</text>
            <hr />
            <img src="~/Images/black.png" width="@Model.Lab.ComputerSize" title="המחשב לא מגיב - מכובה/ ללא תקשורת/ תקול" />
            <br />
            <text>מחשב כבוי</text>
            <hr />
            <img src="~/Images/red.png" width="@Model.Lab.ComputerSize" title="המחשב נמצא בשימוש/ בשיעור" />
            <br />
            <text>מחשב תפוס</text>
            <hr />
        </div>
    </div>
</div>
<p>
    @if (Model.IsLimitedAccess(Model.Lab.DepartmentId))
    {
        @Html.ActionLink("ערוך", "Edit", new { id = Model.Lab.LabId })
        @:|
    }
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
