@model CAMS.Models.Lab

@{
    ViewBag.Title = "Details";
}

<h2>תפוסה נוכחית</h2>

<div>
    <h4> @Html.DisplayFor(model => model.LabName)</h4>
    <div>
        <h6>בניין: @Html.DisplayFor(model => model.Building)</h6>
        <h6>כיתה: @Html.DisplayFor(model => model.RoomNumber)</h6>
    </div>

    <hr />
    <div class="labs">

    </div>
</div>
<p>
    @Html.ActionLink("ערוך", "Edit", new { id = Model.LabId }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
