@model CAMS.Models.LabDetailsViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>עריכה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h6>בניין:</h6> @Html.EditorFor(model => model.Lab.Building, new { htmlAttributes = new { @class = "widthinput", id = "Building" } })
        <h6>כיתה:</h6>  @Html.EditorFor(model => model.Lab.RoomNumber, new { htmlAttributes = new { id = "RoomNumber" } })
        <div style="visibility:hidden">
            @Html.EditorFor(model => model.Lab.LabId, new { htmlAttributes = new { id = "LabId" } })
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2 key">
                <h3>מחשבים</h3>
                <input type="search" id="search" oninput="Search()"/>  @*TBD - search for computer by name*@
                <div id="computers_list">
                    @foreach (var item in Model.ComputersList)
                        {
                            var comp_name = item.Split(',')[0];
                            var comp_id = item.Split(',')[1];
                            <figure draggable="true" ondragstart="drag(event)" class="draggable-computer-list row computers-list" id="@comp_name">
                                @*TBD- make it droppable in lab area*@
                                <img draggable="false" src="~/Images/clear.png" height="30">
                                <figcaption class="text-left grab">@comp_name</figcaption>
                                <a style="visibility:collapse">@comp_id</a>
                            </figure>
                    }
                </div>
                @*//TBD- הוספה של מחשבים רואה רק את אלו שהוא מורשה אליהם לפי דומיינים*@
            </div>
            <div class="col-sm-10">
                <div class="labs droppable" id="LabErea" ondrop="dropErea(event)" ondragover="allowDrop(event)">
                <figure id="Class004pc05" class="draggable context-menu-one ui-draggable ui-draggable-handle" style="position: absolute; top: 185.243px; left: 298.148px;"><img src="/Images/clear.png" width="70"><figcaption class="text-center">Class004pc05</figcaption><a style="visibility:collapse"></a></figure></div>
                <p>*לחץ קליק ימני על המחשב על מנת למחוק אותו</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        @*TBD-  (שמירה (עדכון של מחשבים + כיתת מחשוב*@
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="שמור" class="btn btn-default" onclick="SaveComputersLocations()" />
        </div>
    </div>
}
<div style="padding-right:15px;">
    @Html.ActionLink("ביטול", "Details", new { id = Model.Lab.LabId })
</div>
@section PreloadScripts{
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/Labs.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
