@model CAMS.Models.LabDetailsViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>עריכה</h2>
@using (Html.BeginForm())
{
    <input type="hidden" value="50" name="ComputerSize"/>@*@Model.Lab.ComputerSize*@
    @Html.AntiForgeryToken()
    <div>
        <h6>בניין:</h6> @Html.DisplayFor(model => model.Lab.Building, new { htmlAttributes = new { @class = "widthinput", id = "Building" } })
        <h6>כיתה:</h6>  @Html.EditorFor(model => model.Lab.RoomNumber, new { htmlAttributes = new { id = "RoomNumber" } })
        <div style="visibility:hidden">
            @Html.EditorFor(model => model.Lab.LabId, new { htmlAttributes = new { id = "LabId" } })
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2 key">
                <h3>מחשבים</h3>
                <input type="search" id="search" oninput="Search()" />
                <div id="computers_list">
                    @foreach (var item in Model.ComputersList)
                    {
                        var comp_name = item.Split(',')[0];
                        var comp_id = item.Split(',')[1];
                        <figure draggable="true" ondragstart="drag(event)" class="flex-nowrap draggable-computer-list row computers-list" id="@comp_name">
                            <img draggable="false" src="~/Images/clear.png" height="30">
                            <figcaption class="text-left grab">@comp_name</figcaption>
                            <a hidden>@comp_id</a>
                        </figure>
                    }
                </div>
            </div>
            <div class="col-sm-10">
                <div class="labs droppable" id="LabErea" ondrop="dropErea(event)" ondragover="allowDrop(event)">
                    @foreach (var item in Model.Lab.Computers)
                    {
                        string top = item.LocationInLab.Split(',')[0];
                        string left = item.LocationInLab.Split(',')[1];
                        <figure id="@item.ComputerName" class="multidraggable grab" style="position:absolute;top:@top;left:@left">
                            <img class="sizeable" src="~/Images/clear.png" width="@Model.Lab.ComputerSize">
                            <figcaption class="sizeable text-center">@item.ComputerName</figcaption>
                            <a hidden>,@item.ComputerId</a>
                        </figure>
                    }
                </div>
                <div class="row">
                    <button type="button" id="DeleteComputers" onclick="Delete()">מחק מחשבים נבחרים</button>
                    @*<button type="button" id="SetLocation" onclick="SetLocation()">בחירת מיקום ידנית</button>*@
                    <div id="CompSize" class="text-left">
                        גודל מחשבים:
                        <input class="checkbox-margin" type="radio" id="Large" onclick="ChangeComputerSize(70)" />גדול
                        <input class="checkbox-margin" type="radio" id="Medium" onclick="ChangeComputerSize(50)" />בינוני
                        <input class="checkbox-margin" type="radio" id="Small" onclick="ChangeComputerSize(30)" />קטן
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="שמור" class="btn btn-default" onclick="SaveComputersLocations()" />
        </div>
    </div>
}
<div style="padding-right:15px;">
    @Html.ActionLink("ביטול", "Details", new { id = Model.Lab.LabId })
</div>
@section Scripts {
    <script src="~/Scripts/multidraggable/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/multidraggable/jquery-ui-1.8.8.custom.min.js"></script>
    <script src="~/Scripts/multidraggable/jquery.ui.multidraggable-1.8.8.js"></script>
    <script src="~/Scripts/CAMS_scripts/Labs.js"></script>
}
