@model CAMS.Models.LabDetailsViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>עריכה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h6>בניין:</h6> @Html.EditorFor(model => model.Lab.Building, new { htmlAttributes = new { @class = "widthinput", id = "Building" } })
        <h6>כיתה:</h6>  @Html.EditorFor(model => model.Lab.RoomNumber)
        <div style="visibility:hidden">
            @Html.EditorFor(model => model.Lab.LabId, new { htmlAttributes = new {id = "LabId"} })
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-2 key">
                <h3>מחשבים</h3>
                <button>בחר מחשבים להוסיף</button>
                @*//TBD- הוספה של מחשבים רואה רק את אלו שהוא מורשה אליהם לפי דומיינים*@
            </div>
            <div class="col-sm-10">
                <div class="labs" id="LabErea">
                    @foreach (var item in Model.Lab.Computers)
        {
            string top = item.LocationInLab.Split(',')[0];
            string left = item.LocationInLab.Split(',')[1];
            <figure class="draggable context-menu-one" style="position:absolute;top:@top;left:@left">
                <img src="~/Images/clear.png" width="70">
                <figcaption class="text-center">@item.ComputerName</figcaption>
                <a style="visibility:hidden">@item.ComputerId</a>
            </figure>
}
                </div>
                <p>*לחץ קליק ימני על המחשב על מנת למחוק אותו</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        @*TBD-  (שמירה (עדכון של מחשבים + כיתת מחשוב*@
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="שמור" class="btn btn-default" onclick="SaveComputersLocations()" />
        </div>
    </div>
}
<div style="padding-right:15px;">
    @Html.ActionLink("ביטול", "Details")
</div>
@section PreloadScripts{
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/Labs.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
