@model CAMS.Models.LabDetailsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>עריכה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <h6>בניין: @Html.DisplayFor(model => model.Lab.Building)</h6>
        <h6>כיתה: @Html.DisplayFor(model => model.Lab.RoomNumber)</h6>
        <hr />
        <div class="row">
            @*//TBD- הוספה של מחשבים רואה רק את אלו שהוא מורשה אליהם לפי דומיינים*@
            <div class="labs col-sm-10">
                @foreach (var item in Model.Lab.Computers)
        {
            string top = item.LocationInLab.Split(',')[0];
            string right = item.LocationInLab.Split(',')[1];
            <img src="~/Images/black.png" width="70" title="@item.ComputerName" style="position:absolute;top:@top;right:@right" />
    //TBD- כל אובייקט כזה ניתן לגרירה ואז בינדינג למיקום שלו
}
            </div>
        </div>
    </div>
    

}
@*TBD-  (שמירה (עדכון של מחשבים + כיתת מחשוב*@
<div>
    @Html.ActionLink("ביטול", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
