@model IEnumerable<CAMS.Models.Lab>
@{
    ViewBag.Title = "Index";
}
<h2 class="text-right">כיתות מחשוב</h2>

<p>
        @*if limitted acsses or full conrol*@
               @*@Html.ActionLink("צור חדש", "Create")*@
    </p>
@*add here sorting, search and filters*@
<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>מחלקה</td>
        <td>בניין</td>
        <td>כיתה</td>
        <td>שיעורים מתוכננים להיום</td>
        <td>מספר עמדות פנויות</td>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TodaysClasses)
            </td>
            <td>
                @*TBD - classes for today*@
                @Html.DisplayFor(modelItem => item.Computers.Count)
            </td>
            <td>
                @*TBD -  only full control can delete and only limited can edit*@
                @*@Html.ActionLink("עריכה", "Edit", new { id = item.LabId }) |*@
                @Html.ActionLink("תפוסה נוכחית", "Details", new { id = item.LabId }, new { @class = "action-link" })
                @*|@Html.ActionLink("מחיקה", "Delete", new { id = item.LabId })*@
            </td>
        </tr>
    }
</table>