@model CAMS.Models.LabsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
    
<h2 class="text-right">כיתות מחשוב</h2>

<p>
    @*if have limitted acsses or full conrol*@
    @Html.ActionLink("צור חדש", "Create")
</p>
@using (Html.BeginForm("Index", "Labs", FormMethod.Get))
{
    <p>
        חפש לפי שם מחלקה/ בניין: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="חפש" />
    </p>
}


<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>@Html.ActionLink("מחלקה", "Index", new { sortOrder = ViewBag.DepSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("בניין", "Index", new { sortOrder = ViewBag.BuildingSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>כיתה</td>
        <td>שיעורים מתוכננים להיום</td>
        <td>מספר עמדות פנויות</td>
        <th></th>
    </tr>
    @foreach (var item in Model.Labs) //TBD - if user is logged it soppose to return only the labs that he can view + each lab and the access type
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @if (item.TodaysClasses == null)
                {
                    @Html.Raw("אין")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TodaysClasses)
                }

            </td>
            <td>
                @Model.NumberOfAvilableComputers(item)/@item.Computers.Count
            </td>
            <td>
                @*TBD -  only full control can delete and only limited can edit*@
                @Html.ActionLink("עריכה", "Edit", new { id = item.LabId }) |
                @Html.ActionLink("תפוסה נוכחית", "Details", new { id = item.LabId }, new { @class = "action-link" })
                |@Html.ActionLink("מחיקה", "Delete", new { id = item.LabId })
            </td>
        </tr>
    }
</table>
<br />
עמוד @(Model.Labs.PageCount < Model.Labs.PageNumber ? 0 : Model.Labs.PageNumber) מתוך @Model.Labs.PageCount

@Html.PagedListPager(Model.Labs, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))