@model CAMS.Models.LabsReportViewModel
@{
    ViewBag.Title = "Details";
}
<h2>דוח פעילות מחשבים</h2>
<h4>@Model.ReportTitle</h4>

<div id="LabReportDiv">
    <table class="table table-bordered table-condensed text-right">
        <tr>
            <td>מחלקה</td>
            <td>בניין</td>
            <td>כיתה</td>
            <td>מספר עמדות</td>
            <td>אחוז שימוש ממוצע</td>
            <td>אחוז שימוש ממוצע כולל שיבוץ חדרים</td>
            <th></th>
        </tr>
        @foreach (var item in Model.Reports)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.RoomNumber)
                </td>
                <td>
                    @item.Lab.Computers.Count
                </td>
                <td>
                    @item.AverageUsage
                </td>
                <td>
                    @item.ScheduleAverageUsage
                </td>
                <td>
                    <a href="javascript:DisplayLabReportDetails(@item.Lab.LabId)">פירוט עמדות</a>
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("צור דוח חדש", "Create")
</p>
@foreach (var item in Model.Reports)
{

<div id="@item.Lab.LabId" hidden>
    <h3>פירוט עמדות</h3>
    @*TBD - LAB DETAILS + REPORT DETAILS*@
    <table class="table table-bordered table-condensed text-right">
        <tr>
            <td>שם עמדה</td>
            <td>אחוז שימוש ממוצע</td>
            <td>אחוז שימוש ממוצע כולל שיבוץ חדרים</td>
        </tr>
        @foreach (var computer in item.ComputersReport)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => computer.Computer.ComputerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => computer.AverageUsage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => computer.ScheduleAverageUsage)
                </td>
            </tr>
        }

    </table>
    <p>
        <a href="javascript:DisplayLabReport(@item.Lab.LabId)">חזור לדוח</a>
    </p>
</div>
}

@section PreloadScripts{
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery-TimePicker-1.0.0.js"></script>
    <script src="~/Scripts/datepicker-he.js"></script>
    <script src="~/Scripts/CAMS_scripts/Reports.js"></script>
    <script src="~/Scripts/jspdf.js"></script>
}
@*TBD - LOAD JQUERY UI CSS FILE...*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}