@model CAMS.Models.ReportModel

@{
    ViewBag.Title = "Create";
}

<h2>דוחות</h2>  @*TBD - Validation of dates and time*@
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>דוח חדש</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        <label>סוג דוח</label>
        <br />
        <input class="checkbox-margin" type="checkbox" name="AverageUsage" /><label>ממוצע שעות פעילות</label>
        <input class="checkbox-margin" type="checkbox" name="LabOccupancyReport-hours" /><label>פעילות מחשבים לפי שעות</label>
        <input class="checkbox-margin" type="checkbox" name="LabOccupancyReport-days" /><label>פעילות מחשבים לפי ימים</label>
    </div>
    <div class="form-group">      
        @Html.Label("תאריכים", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 row">
            <label>מ -</label>
            <input type="datetime" class="datepicker" id="fromDate" name="fromDate" readonly="readonly">
            <label>עד -</label>
            <input type="datetime" class="datepicker" id="toDate" name="toDate" readonly="readonly" disabled>
            <input type="checkbox" id="excludeWeekends" class="checkbox-margin" /> <label>לא כולל סופי שבוע</label>
            <input type="hidden" name="includeWeekends" id="includeWeekends" />
        </div>
    </div>
    <div class="form-group">
        @Html.Label("טווח שעות", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 row">
            <label>מ -</label>
            <input type="datetime" class="timepicker" id="fromTime" name="fromTime" value="09:00">
            <label>עד -</label>
            <input type="datetime" class="timepicker" id="toTime" name="toTime" value="21:00">
            <input type="checkbox" class="checkbox-margin" id="allDay" onclick="AllDay()" /> <label>כל היום</label>
            <input type="hidden" name="includeAllDay" id="includeAllDay" />
        </div>
    </div>
    <div>
        @Html.Label("כיתות מחשוב", htmlAttributes: new { @class = "control-label" })
        <br>
        <div class="row">
            <div id="select-all" onclick="CheckboxAll(true)">בחר הכל</div>
            <div id="unselect-all" onclick="CheckboxAll(false)">הסר הכל</div>
        </div>
        @foreach (var Dep in Model.GetDepartments())
        {
            <div class="dropdown_item accordion">
                <h3 class="left-border">
                    <input class="form-check-label" type="checkbox" id="@Dep.DepartmentId" onclick="CheckboxDep(@Dep.DepartmentId)">
                    <label>@Dep.DepartmentName</label>
                </h3>
                <div class="columns">
                    @foreach (var lab in Model.GetLabsOfDepartment(Dep.DepartmentId))
                    {
                        <input class="form-check-inline @Dep.DepartmentId" type="checkbox" value="@lab.LabId" onclick="Checkbox(@Dep.DepartmentId)"><lable>@lab.Building  כיתה  @lab.RoomNumber</lable>
                        <br>
                    }
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="צור" class="btn btn-default" onclick="CreateReport()" />
            <input type="hidden" name="LabsIds" id="LabsIds" />
        </div>
    </div>
</div>
}
@section PreloadScripts{
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery-TimePicker-1.0.0.js"></script>
    <script src="~/Scripts/datepicker-he.js"></script>
    <script src="~/Scripts/CAMS_scripts/Reports.js"></script>
}
@*TBD - LOAD JQUERY UI CSS FILE...*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}