@model IEnumerable<CAMS.Models.LabReport>

@{
    ViewBag.Title = "Details";
}

<h2>דוח פעילות מחשבים</h2>

<div>
    @*TBD- add the report delatils (dates, time.....)*@
    <table class="table">
        <tr>
            <td>מחלקה</td>
            <td>בניין</td>
            <td>כיתה</td>
            <td>מספר עמדות</td>
            <td>אחוז שימוש ממוצע</td>
            <td>אחוז שימוש ממוצע כולל שיבוץ חדרים</td>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.RoomNumber)
            </td>
            <td>
                @item.Lab.Computers.Count
            </td>
            <td>
                @item.AverageUsage
            </td>
            <td>
                @item.ScheduleAverageUsage
            </td>
            <td>
                @Html.ActionLink("פירוט עמדות", "LabDetails", item.ComputersReport)
            </td>

        </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("צור דוח חדש", "Create")
</p>
