@model CAMS.Models.ReportViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer.MAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.MAC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("חזרה לרשימה", "Index")
</p>
