@model CAMS.Models.LabReport

@{
    ViewBag.Title = "LabDetails";
}

<h2>Details</h2>

<div>
    <table class="table">
        <tr>
            <td>שם עמדות</td>
            <td>אחוז שימוש ממוצע</td>
            <td>אחוז שימוש ממוצע כולל שיבוץ חדרים</td>
            <th></th>
        </tr>
        @foreach (var item in Model.ComputersReport)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.ComputerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageUsage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleAverageUsage)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("צור דוח חדש", "Create")
</p>
@section PreloadScripts{
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/jquery-TimePicker-1.0.0.js"></script>
    <script src="~/Scripts/datepicker-he.js"></script>
    <script src="~/Scripts/Reports.js"></script>
}
@*TBD - LOAD JQUERY UI CSS FILE...*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
