@model IEnumerable<CAMS.Models.LabOccupancyReport>

@{
    ViewBag.Title = "LabOccupancyReport";
    ViewBag.XHours = Model.First().GetHours();
}
<h2>דוח פעילות מחשבים לפי שעות</h2>
<div id="LabReportDiv">
    <table class="table table-bordered table-condensed text-right">
        <tr>
            <td>מחלקה</td>
            <td>בניין</td>
            <td>כיתה</td>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.Building)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lab.RoomNumber)
                </td>
                <td>
                    <a href="javascript:DisplayLabGraph(@item.Lab.LabId)">צפה בגרף</a>
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript" src="~/Scripts/Chart.js"></script>
}
<script>
    var configs = {};
    window.onload = function () {
        for (var index in configs) {
            var ctx = document.getElementById(index).getContext('2d');
            window.myLine = new Chart(ctx, configs[index]);
        }

    };
    DisplayLabGraph = function (LabId) {
        $("#" + LabId).removeAttr("hidden");
        $("#LabReportDiv").attr('hidden', 'hidden');
    }
</script>

@foreach (var item in Model)
{
    <canvas id="@item.Lab.LabId" width="800" height="400" hidden></canvas>
    <script>
        var hArr =[]
        @foreach(var s in @item.GetHours())
        {
            @:hArr.push("@s");
        }
         var minArr =[]
        @foreach(var s in @item.GetHoursMin())
        {
            @:minArr.push("@s");
        }
         var maxArr =[]
        @foreach(var s in @item.GetHoursMax())
        {
            @:maxArr.push("@s");
        }
         var avgArr =[]
        @foreach(var s in @item.GetHoursAvg())
        {
            @:avgArr.push("@s");
        }

        
        var config = {
        type: 'line',
        data: {
            labels: hArr,
            datasets: [{
            label: 'מנימום',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: minArr,
                fill: false,
            }, {
                label: 'ממוצע',
                fill: false,
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: 'rgb(54, 162, 235)',
                data: avgArr,
            }, {
                label: 'מקסימום',
                fill: false,
                backgroundColor: 'rgb(255, 205, 86)',
                borderColor: 'rgb(255, 205, 86)',
                data: maxArr,
            }]
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'טווח שעות'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'מחשבים פעילים בו זמנית'
                    },
                    ticks: {
                        min: 0,
                        max: 100,
                        callback: function (value) { return value + "%" }
                    }
                }]
            }
        }
        };
        configs[@item.Lab.LabId] = config;

        DisplayLabGraph = function (lab_id) {
            $("#" + lab_id).removeAttr('hidden');
        }

</script>
}
<p>
    @Html.ActionLink("צור דוח חדש", "Create")
</p>

