@model CAMS.Models.LabsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
                ViewBag.Title = "Home Page";
}
<h2 class="text-right">כיתות מחשוב</h2>
@using (Html.BeginForm("Index", "Labs", FormMethod.Get))
{
    <p>
        חפש לפי שם מחלקה/ בניין: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="חפש" />
    </p>
}
<table class="table table-bordered table-condensed text-right">
    <tr>
        <td>@Html.ActionLink("מחלקה", "Index", new { sortOrder = ViewBag.DepSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>@Html.ActionLink("בניין", "Index", new { sortOrder = ViewBag.BuildingSortParm, currentFilter = ViewBag.CurrentFilter })</td>
        <td>כיתה</td>
        <td>שיעורים מתוכננים להיום</td>
        <td>מספר עמדות פנויות/ סה"כ עמדות</td>
        <th></th>
    </tr>
    @foreach (var item in Model.Labs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @if (item.TodaysClasses == null)
                {
                    @Html.Raw("אין")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.TodaysClasses)
                }
            </td>
            <td>
                @Model.NumberOfAvilableComputers(item)/@item.Computers.Count
            </td>
            <td>
                @Html.ActionLink("תפוסה נוכחית", "Details", new { id = item.LabId }, new { @class = "action-link" })
            </td>
        </tr>
    }
</table>
<br />
עמוד @(Model.Labs.PageCount < Model.Labs.PageNumber ? 0 : Model.Labs.PageNumber) מתוך @Model.Labs.PageCount
@Html.PagedListPager(Model.Labs, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))